.iframe-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box; /* 追加: はみ出しを防ぐ */
    overflow-x: hidden; /* 横方向のはみ出しを防ぐ */
}

.iframe-container iframe {
    max-width: 100%; /* 画面幅に収まるようにする */
    height: 50px; /* 文字の高さと同じにする */
    margin: 0; /* 余白をなくす */
    padding: 0; /* 余白をなくす */
    border: none; /* 枠線をなくす */
}

.iframe-container iframe.Graph {
    height: 380px;
    width: 100%; /* 追加: 幅を100%に設定して縮小表示 */
    max-width: 100%; /* 追加: 最大幅を100%に設定 */
}